body {
  font-family: Times Sans Serif;
  width: auto;
  color: #121212; }

.colum {
  font-size: 160px;
  letter-spacing: 5px;
  color: #121212;
  opacity: 0.2;
  writing-mode: vertical-rl; }

.colum-white {
  font-size: 160px;
  letter-spacing: 5px;
  color: #FFFCF2;
  opacity: 0.4;
  writing-mode: vertical-rl; }

.eye-catch {
  padding-top: 295px;
  height: 800px;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  color: #FFFCF2;
  text-align: center; }
  .eye-catch h1 {
    font-size: 150px;
    letter-spacing: 3px; }
  .eye-catch p {
    font-size: 70px;
    margin-bottom: 144px; }
  .eye-catch span {
    font-size: 47px;
    letter-spacing: 2px; }
  .eye-catch a {
    color: #FFFCF2;
    text-decoration: none;
    transition: all 120ms 0s ease; }
  .eye-catch #link-profile:hover {
    opacity: 0.5; }
  .eye-catch #link-skills:hover {
    opacity: 0.5; }
  .eye-catch #link-works:hover {
    opacity: 0.5; }
  .eye-catch #link-qa:hover {
    opacity: 0.5; }
  .eye-catch #link-contact:hover {
    opacity: 0.5; }

.profile {
  height: 700px;
  padding-top: 150px;
  padding-left: 260px;
  color: 121212;
  display: flex; }
  .profile .profile-content {
    align-items: flex-end;
    width: 900px;
    height: 350px;
    margin-top: 105px;
    margin-left: 50px;
    font-size: 24px;
    line-height: 60px; }

.skills {
  background-image: url(../img/code.jpg);
  height: 800px;
  background-size: cover; }
  .skills .black-layer {
    padding-top: 150px;
    padding-left: 260px;
    height: 650px;
    width: auto;
    background-color: black;
    opacity: 0.8; }
    .skills .black-layer .over-layer {
      z-index: 10;
      width: auto;
      display: flex; }
      .skills .black-layer .over-layer .skills-content {
        color: #FFFCF2;
        font-size: 24px;
        width: 90%;
        margin-top: 20px;
        margin-left: 50px; }
        .skills .black-layer .over-layer .skills-content img {
          width: 100px;
          height: 100px;
          margin-left: 70px; }
        .skills .black-layer .over-layer .skills-content .content {
          display: flex;
          margin-bottom: 70px; }
          .skills .black-layer .over-layer .skills-content .content .language-imgs {
            margin-left: 21%; }
          .skills .black-layer .over-layer .skills-content .content .framework-imgs {
            margin-left: 40%; }
          .skills .black-layer .over-layer .skills-content .content .tool-imgs {
            margin-left: 19%; }

.works {
  height: 1000px;
  padding-top: 150px;
  padding-left: 260px;
  padding-right: 150px; }
  .works .flex {
    display: flex; }
  .works .works-contents-wrapper {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap; }
    .works .works-contents-wrapper .works-content {
      width: 300px;
      margin-bottom: 50px;
      margin-right: 20px; }
      .works .works-contents-wrapper .works-content .works-content-img {
        width: 100%;
        height: 200px;
        background-color: #CDD6DD; }
      .works .works-contents-wrapper .works-content .works-content-detail h3 {
        font-size: 24px;
        margin-top: 40px; }
      .works .works-contents-wrapper .works-content .works-content-detail p {
        margin-top: 13px; }
  .works .more-button-link:hover {
    opacity: 0.7; }
  .works .more-button {
    margin: 0 auto;
    width: 250px;
    height: 50px;
    background-color: #121212;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .works .more-button span {
      color: #FFFCF2;
      font-size: 24px; }

/*# sourceMappingURL=main.css.map */
